body {
  min-height: 100vh;
  background: url(IMG_3246.jpg) black;
}

nav {
  position: fixed;
  bottom: 30px;
  left: 30px;
  z-index: 1;
}

nav a {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin: 0 10px 0 0;
}

img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
